<!doctype html>
<html>
<head>
    <title>Learnest</title>
    <link rel="stylesheet" href="http://netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.icons8.com/fonts/line-awesome/1.1/css/line-awesome-font-awesome.min.css">
    <style>
        body        { padding-top:80px; }
        .jumbotron { padding-bottom: 6em; }
        h1 { padding-bottom: 1em; }
    </style>
</head>
<body>
<div class="container">
    <div class="jumbotron text-center">
        <h1>Learnest Internship Test</h1>
        <p>Login or Register with:</p>
        <a href="/signup" class="btn btn-default btn col-sm-4 col-sm-offset-4"><span class="fa fa-user"></span> Signup</a><br>
        <a href="/login" class="btn btn-default btn col-sm-4 col-sm-offset-4"><span class="fa fa-user"></span> Login</a><br>
        <a href="/auth/twitter" class="btn btn-info btn col-sm-4 col-sm-offset-4"><span class="fa fa-twitter"></span> Login Using Twitter</a><br>
        <a href="/auth/google" class="btn btn-danger btn col-sm-4 col-sm-offset-4"><span class="fa fa-google-plus"></span> Login Using Google</a>
    </div>
</div>
</body>
</html>