.App {
  text-align: center;
}

.container {
  max-width: 512px;
  margin: 0 auto;
}

.is-column-1by3{
  display: inline-block;
  width: 33%;
}

.is-column-2by3{
  display: inline-block;
  width: 66%;
}

.picker-container .picker-column .picker-item.picker-item-selected {
  color: #000;
}

.has-no-slot .picker-container .picker-column .picker-item.picker-item-selected{
  color: red;
}

a {
  cursor: pointer;
  color: darkblue;
}